@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');

:root {
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color-scheme: light dark;
    background-color: #f4f4f4;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --text: #242424;
    --text-light: #505050;
    --background-text: white;
    --box-shadow-text: #ededed 0 10px 10px;
    --background-btn: #f2f2f2;
    --background-card: #ffffff;
    --background-card-active: #d1cdcd;
    --text: #242424;
    --text-number: #a1a1a1;
    --box-shadow-card: #ededed 0 10px 10px;
    --box-shadow-card-hover: #bdbdbd 0 10px 10px;

}

#root {
    position: relative;
}

body {
    padding: 0 10vw;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    margin: 30px 0px;
    border-radius: 20px;
    box-shadow: var(--box-shadow-text);
    padding: 15px;
    background-color: var(--background-text);
    color: #242424;
}

.header__logo {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 10px;
}

.header__logo :nth-child(1) {
    color: var(--text);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.header__nav-btn {
    background-color: var(--background-btn);
    border-radius: 10px;
    padding: 5px 10px;
}

.header__nav-btn :nth-child(1) {
    color: var(--text);
}

.header__nav-btn :nth-child(1):active {
    color: var(--text-light);
}

/* --------------------------------------------------------- */

.returnToTop {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    justify-content: start;
    align-items: start;
    margin: 20px;
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #ff5350;
    z-index:1;
    cursor: pointer;
    box-shadow: #ff535088 5px 5px 15px;
}

main {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 30px 0;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
}

.list__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    justify-content: space-between;
}

.search {
    display: flex;
    flex-grow: 100;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: var(--box-shadow-text);
    background-color: var(--background-text);
}

.search__input {
    flex-grow: 0;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text);
}

.search__btn {
    width: 30px;
    aspect-ratio: 1/1;
    background-color: #FF5350;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: #ff535088 5px 5px 15px;
    border: none;
    outline: none;
    aspect-ratio: 1/1;
}

.svg {
    width: 100%;
    height: 100%;
    fill: var(--background-text);
}

.types {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: min-content;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    padding: 3px;
    justify-content: center;
    background-color: var(--background-text);
    overflow: hidden;
    cursor: pointer;
    border: 2px solid var(--background-text);
    box-shadow: var(--box-shadow-text);
    transition-duration: 200ms;
}

.type:hover {
    border: 2px solid var(--text-number);
    box-shadow: var(--box-shadow-card-hover);
}

.type:active{
    background-color: var(--background-card-active);
}

.type.selected {
    border: 2px solid var(--text-number);
    box-shadow: var(--box-shadow-card-hover);    
    background-color: var(--background-card-active);
}

.type :nth-child(1) {
    width: 100%;
    height: 100%;
}

.listPals {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 20px;
}