:root {
    --background-card: #ffffff;
    --background-card-suitability-active: #eeeeee;
    --text: #242424;
    --text-number: #a1a1a1;
    --box-shadow-card: #ededed 0 10px 10px;
    --box-shadow-card-hover: #bdbdbd 0 10px 10px;
}

.campCountBtn {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    justify-content: start;
    align-items: start;
    margin: 20px;
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #ff5350;
    z-index: 1;
    cursor: pointer;
    box-shadow: #ff535088 5px 5px 15px;
}

.campCountBtns :nth-child(2) {
    bottom: 50px;
}

.campCount__number{
    display: flex;
    position: fixed;
    color: #ff5350;
    bottom: 0;
    right: 0;
    border: none;
    justify-content: center;
    align-items: center;
    width: 22px;
    text-align: center;
    margin: 12px 12px 45px 0px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 2;
    cursor: pointer;
    box-shadow: #ff535088 2px 2px 5px;
    font-weight: 600;
}

.card__suitabilities {
    position: absolute;
    transition-duration: 200ms;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    left: 0;
    color: var(--text);
    flex-wrap: wrap;
    height: 85%;
    margin: 10px 5px;
    gap: 5px 2px;
}

.card__suitability {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 3px;
    background-color: var(--background-card-suitability-active);
    margin: 0px;
    padding: 1px 2px 0 5px;
    height: 20px;
}
.card__suitability p{
    font-size: 0.8rem;
    font-weight: 900;
    margin: 0px;
    padding: 0px ;
}

.card__suitability img {
    width: 100%;
    aspect-ratio: 1/1;
}

.viewCard__table{
    color: var(--text);
    text-align: center;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-content: center;
    position: absolute;
    z-index: 3;
    top: -75px;
    transition-duration: 100ms;
    flex-wrap: wrap;
    font-weight: 900;
    font-size: 1rem;
    list-style: none;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--text-number);
}
.viewCard__table-li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--background-card);
    border-radius: 7px;
    gap: 0;
    padding: 0 5px 0 0;
}

.viewCard__table img{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.removeWorker {
    display: none;
    position: absolute;
    top: -55px;
    right: 0;
    border: none;
    justify-content: start;
    align-items: start;
    margin: 5px;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #ff5350;
    z-index: 7;
    cursor: pointer;
    box-shadow: #ff535088 5px 5px 15px;
    padding: 0;
}

.card:hover .removeWorker {
    display: flex;
}