:root {
    --background-card: #ffffff;
    --background-card-active: #d1cdcd;
    --text: #242424;
    --text-number: #a1a1a1;
    --box-shadow-card: #ededed 0 10px 10px;
    --box-shadow-card-hover: #bdbdbd 0 10px 10px;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--background-card);
    box-shadow: var(--box-shadow-card);
    border-radius: 20px;
    min-width: 20%;
    margin-top: 50px;
    padding: 20px;
    padding-top: 40px;
    position: relative;
    cursor: pointer;
    border: 2px solid var(--background-card);
    transition-duration: 200ms;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.card:hover {
    border: 2px solid var(--text-number);
    box-shadow: var(--box-shadow-card-hover);
}

.card:active {
    background-color: var(--background-card-active);
}

.card__img {
    aspect-ratio: 1/1;
    width: 80px;
    border-radius: 25px;
    position: absolute;
    top: -55px;
    transition-duration: 200ms;
}

.card:hover .card__img {
    width: 85px;
}

.card__number {
    color: var(--text-number);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
}

.card__title {
    color: var(--text);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.card__types {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}

.card__type {
    margin-top: 10px;
    border-radius: 5px;
    padding: 0 6px;
}

.neutral {
    background-color: #a1a1a1;
}

.grass {
    background-color: #78c850;
}

.electric {
    background-color: #f8d030;
}

.fire {
    background-color: #f08030;
}

.water {
    background-color: #6890f0;
}

.ice {
    background-color: #98d8d8;
}

.ground {
    background-color: #e0c068;
}

.dark {
    background-color: #705848;
}

.dragon {
    background-color: #7038f8;
}

.app {
    background-color: #7dedf7;
}