@media screen and (max-width: 1024px) {
    :root {
        --display-card: flex;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .types {
        justify-content: center;
    }

    .type:hover {
        border: 2px solid var(--background-text);
        box-shadow: var(--box-shadow-text);
    }

    .viewCard__close {
        display: var(--display-card);
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        justify-content: start;
        align-items: start;
        margin: 10px;
        width: 40px;
        height: 40px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: #ff5350;
        z-index: 7;
        cursor: pointer;
        box-shadow: #ff535088 5px 5px 15px;
    }

    .viewCard {
        display: var(--display-card);
        position: fixed;
        z-index: 5;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
        height: 100%;
        position: fixed;
        width: 100%;
        z-index: 1;
        border-radius: 50px;
        padding: 0;
        box-sizing: border-box;
        top: 0;
    }

    .viewCard__box {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 50px 0px 15%;
        top: 40px;
        z-index: 2;
        border-radius: 50px 50px 0 0;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .viewCard__img {
        top: 15px;
        z-index: 6;
    }

    .viewCard__background {
        display: var(--display-card);
        top: 0;
        right: 0;
    }

    .removeWorker {
        display: flex;
    }

    .viewCard__table{
        top: 20px;
    }
}