:root {
    --background-card: #ffffff;
    --background-card-active: #d1cdcd;
    --text: #242424;
    --text-number: #a1a1a1;
    --box-shadow-card: #ededed 0 10px 10px;
    --box-shadow-card-hover: #bdbdbd 0 10px 10px;
}

.camp{
    width: 100%;
    text-transform: capitalize;
}

.listCamp {
    color: black;
    width: 100%;
}

.listCamp tr {
    background-color: var(--background-card);
    border: 2px solid var(--background-card);
    border-radius: 5px;
    box-shadow: var(--box-shadow-card);
    transition-duration: 200ms;
    cursor: pointer;
    gap: 5px;
    margin: 3px;
    text-align: center;
}
.listCamp__element{
    padding: 5px;
}
.listCamp__element span{
    margin: 0 5px;
}

.listCamp tr td img {
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.listCampBase{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}