@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');

:root {
    --background-card: #ffffff;
    --text: #242424;
    --text-number: #a1a1a1;
    --text-light: #888888;
    --box-shadow-card: #ededed 0 10px 10px;
    --background-box: #ededed;
}

.viewCard__close {
    display: none;
}

.viewCard__background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.viewCard {
    z-index: 4;
    display: flex;
    position: sticky;
    top: 12vh;
    flex-direction: column;
    align-items: center;
    margin: 60px 0 0 20px;
    width: 500px;
    height: 90vh;
    background-color: var(--background-card);
    box-shadow: var(--box-shadow-card);
    border-radius: 25px 25px 0 0;
}

.viewCard__box {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin-top: 65px;
    gap: 5px;
    height: 82vh;
    background-color: var(--background-card);
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 15%;
}

.viewCard h4 {
    color: var(--text);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.viewCard span {
    color: var(--text-light);
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.viewCard__img {
    aspect-ratio: 1/1;
    width: 120px;
    border-radius: 25px;
    position: absolute;
    z-index: 2;
    top: -60px;
    transition-duration: 100ms;
}

.viewCard__number {
    color: var(--text-number);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
}

.viewCard__title {
    color: var(--text);
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.viewCard__types {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}

.viewCard__type {
    margin: 5px 0;
    border-radius: 5px;
    padding: 0 6px;
    color: var(--background-card);
}

.viewCard__entry-text {
    color: var(--text-number);
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
}

.viewCard__suitability {
    display: flex;
    gap: 10px;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.viewCard__suitability-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--background-box);
    border-radius: 5px;
    padding: 5px 10px;
}

.viewCard__drops {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.viewCard__drops {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
}

.viewCard__drops-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--background-box);
    border-radius: 5px;
    padding: 5px 10px;
}

.viewCard__aura {
    text-align: center;
    margin: 0 10px 10px;
}

.viewCard__aura-name {
    color: var(--text);
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    display: inline;
}

.viewCard__aura-description {
    display: inline;
}

.icon {
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------ */

.viewCard__dropedBy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-flow: wrap row;
    width: 100%;
    height: fit-content;
    padding: 0 30px;
}

.viewCard__dropedBy>.card {
    max-width: 160px;
}

.viewCard__dropedBy>.card>.card__types>.card__type {
    color: #ffffff;
}